@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nasza Grupa</h1>
    <p>Platforma do dzielenia się notatkami i  przesyłaniem komunikatów </p>

    <p>
        Wykonaliśmy API do naszej bazy danych komunikatów <br />
        ścieżka do naszego API: https://localhost:44364/api/api <br />
        Dodatkowo możemy wyszukiwać dane z konkretnym id: https://localhost:44364/api/api/(id)
    </p>
</div>
